html, body {
    height: 100%;
}

body {

    margin: 0;
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding:0;

}

.logoContainer {
    background-image: url(bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

.logoContainer--logo {
    width:100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
}

.logoContainer--logo--img {
    width: 5rem;
}

.formContainer {
    flex: 3;
    background-color: rgb(000 000 120 / 50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formContainer--intro {
    background-color: rgba(255, 255, 255);
    flex:1;
}

.formContainer--form {
    background-color: rgb(228, 228, 228);
    flex: 1;
}


.formContainer--footer {
    background-color: rgba(255, 255, 255);
    flex: 1;
}

